body {
	background-color: #1c1c1c;
	color: white;
	font-family: 'Alata', sans-serif;
	text-align: center;
}

h1 {
	font-size: 5vw;
}

.table {
	margin: auto;
}

th:nth-last-child(3n+4) {
	border-right: dashed;
}
tr:nth-last-child(3n+4) {
	border-bottom: dashed;
}